<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>vue-test</title>
  <script src="https://cdn.bootcss.com/babel-standalone/7.0.0-alpha.20/babel.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.4.2/vue.js"></script>
  <link rel="stylesheet" href="style/reset.css">
  <link rel="stylesheet" href="style/vue-test-style.css">
</head>
<body>

<div id="app">
  <input type="button" @click="switchShow = true" value="open">
  <modal v-if="switchShow" :title="'User Login'" @cancel="switchShow = false" :quick-close="true">
    <div class="content">
      <p>Username:</p>
      <input class="username">
      <button class="more" @click="moreShow = true">see more</button>
    </div>
  </modal>

  <modal v-if="moreShow" :title="'see more'" @cancel="moreShow = false">
    <div class="see-more">when multi modal exist, black-back should be only one</div>
  </modal>












</div>



<script type="text/x-template" id="modal-template">
  <transition name="fade">
    <div class="modal">
      <div class="back-ground" ref="background" @click="cancel(quickClose)"></div>
      <div class="modal-wrapper">
        <h1 class="title" v-text="title"></h1>
        <div class="content-wrapper">
          <slot></slot>
        </div>
        <div class="footer">
          <button class="sure">sure</button>
          <button class="cancel" @click="cancel()">cancel</button>
        </div>
      </div>
    </div>
  </transition>
</script>
<script type="text/babel">

  var modal = {
    template: '#modal-template',
    props: {
      title: {
        type: String
      },
      quickClose: {
        type: Boolean,
        default: false
      }
    },
    data() {
      return {

      }
    },
    created() {
      this.$parent.$emit('modal-count', 'add')
    },
    mounted() {
      if (this.$parent.modalCount > 1) {
        this.$refs.background.style.opacity = 0
      }
    },
    methods: {
      cancel(confirm = true) {
        if (confirm === false) {
          return
        }
        this.$emit('cancel')
        this.$parent.$emit('modal-count', 'reduce')
      }
    }
  }


  var app = new Vue({
    el: '#app',
    data() {
      return {
        switchShow: true,
        moreShow: false,
        modalCount: 0
      }
    },
    created() {
      this.$on('modal-count', (type) => {
        if (type === 'add') {
          this.modalCount++
        }
        if (type === 'reduce') {
          this.modalCount--
        }
      })
    },
    methods: {},
    components: {
      modal
    }
  })

</script>
</body>
</html>